<ActionBar title="" flat="true" backgroundColor="#f8bd0a">
  <Label horizontalAlignment="center" class="actionbar-title" text="Historique">
  </Label>
</ActionBar>
<!-- J AI REMPLACE LES STACKLAYOUT PAR LABEL -->
<StackLayout>
  <ListView class="list-group" [items]="[1, 2, 3, 4, 5]" style="height: 100%;">
    <ng-template let-current="item">
      <FlexboxLayout flexDirection="row">
        <GridLayout
          rows="*, 2*"
          columns="100, *, 10"
          class="skeleton-light"
          height="100"
          margin="2.5 10"
          padding="10 0"
          borderRadius="10"
          backgroundColor="#f8bd0a"
        >
          <Label
            horizontalAlignment="center"
            class="actionbar-title"
            text="Course n°"
            color="black"
            row="0"
            rowSpan="0"
            col="0"
            class="skeleton-dark toto"
            width="80"
            height="20"
            verticalAlignment="center"
            horizontalAlignment="center"
            borderRadius="10"
            margin="8"
          >
          </Label>
          <!-- <StackLayout
            row="0"
            rowSpan="0"
            col="0"
            class="skeleton-dark toto"
            width="80"
            height="20"
            verticalAlignment="center"
            horizontalAlignment="center"
            borderRadius="10"
            margin="8"
            text="Button 1"
          ></StackLayout> -->
          <Label
            row="0"
            col="1"
            class="skeleton-dark"
            height="14"
            width="25%"
            verticalAlignment="center"
            horizontalAlignment="left"
            borderRadius="5"
          ></Label>
          <StackLayout
            row="1"
            col="1"
            class="skeleton-dark"
            height="45"
            width="100%"
            verticalAlignment="center"
            horizontalAlignment="left"
            borderRadius="5"
          ></StackLayout>
        </GridLayout>
      </FlexboxLayout>
    </ng-template>
  </ListView>
</StackLayout>
