<ActionBar title="" flat="true" backgroundColor="#f8bd0a">
  <Label horizontalAlignment="center" class="actionbar-title" text="Profil">
  </Label>
</ActionBar>
<!-- <ScrollView orientation="vertical"> -->
<StackLayout>
  <StackLayout backgroundColor="#9f153b">
    <Label
      height="100"
      width="100"
      borderRadius="70"
      class="skeleton-light"
      margin="20 10"
      horizontalAlignment="center"
    ></Label>
  </StackLayout>
  <ScrollView>
    <!-- <ScrollView> -->
    <StackLayout
      margin="4%"
      borderWidth="6"
      borderColor="#f8bd0a"
      height="150%"
      borderRadius="10"
    >
      <Label
        verticalAlignment="center"
        horizontalAlignment="center"
        borderRadius="5"
        text="Informations personnelles"
        fontSize="25"
        padding="6%"
        color="white"
        margin="2%"
        backgroundColor="#9f153b"
      >
      </Label>
      <Label
        class="skeleton-dark"
        height="20"
        width="80%"
        verticalAlignment="center"
        horizontalAlignment="left"
        borderRadius="5"
        text="Nom"
        color="black"
        margin="4%"
      ></Label>
      <Label
        class="skeleton-dark"
        height="20"
        width="80%"
        verticalAlignment="center"
        horizontalAlignment="left"
        borderRadius="5"
        text="Prénom"
        color="black"
        margin="4%"
      ></Label>
      <Label
        class="skeleton-dark"
        height="20"
        width="80%"
        verticalAlignment="center"
        horizontalAlignment="left"
        borderRadius="5"
        text="Mail"
        color="black"
        margin="4%"
      ></Label>
      <Label
        class="skeleton-dark"
        height="20"
        width="80%"
        verticalAlignment="center"
        horizontalAlignment="left"
        borderRadius="5"
        text="Pseudo"
        color="black"
        margin="4%"
      ></Label>

      <Button
        text="Se déconnecter"
        class="btn btn-primary m-t-20 btnDeconnexion"
        (tap)="logout()"
      >
      </Button>
      <Button
        text="Modifier le profil"
        class="btn btn-primary m-t-20 btnModifierProfil"
        [nsRouterLink]="['/home']"
      >
      </Button>
      <!-- </StackLayout> -->
    </StackLayout>
  </ScrollView>
</StackLayout>
