.home-panel {
  vertical-align: center;
  font-size: 20;
  margin: 15;
}

.input {
  height: 50;
  border-width: 3;
  border-radius: 40px;
  border-color: #f8bd0a;
  /* color: "#000000"; */
}

.btn-primary {
  background-color: #ffffff;
  width: 50%;
  border-width: 6;
  border-radius: 60px;
  font-weight: bold;
}

.btnDeconnexion {
  color: #f8bd0a;
  border-color: #f8bd0a;
}

.btnModifierProfil {
  color: #9f153b;
  border-color: #9f153b;
}
Label {
  margin-left: 25;
}
