.page {
  align-items: center;
  flex-direction: column;
}
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.btn-primary {
  margin: 30 5 15 5;
  background-color: #ffffff;
  width: 90%;
  border-width: 6;
  border-radius: 60px;
}

.btnJaune {
  color: #f8bd0a;
  border-color: #f8bd0a;
}

.btnRouge {
  color: #9f153b;
  border-color: #9f153b;
}

.logo {
  margin-bottom: 12;
  width: 100%;
  font-weight: bold;
}

Image {
  width: 300;
  height: 300;
  margin-left: 15%;
  /* background-color: #9f153b; */
}
