<FlexboxLayout class="page">
  <StackLayout class="form">
    <!-- <Image class="logo" src="~/images/lapin.png"></Image> -->
    <Image src="res://lapin" stretch="none"></Image>

    <Button
      text="Connexion"
      [nsRouterLink]="['/connexion']"
      class="btn btn-primary m-t-20 btnJaune"
    ></Button>

    <Button
      text="Inscription"
      [nsRouterLink]="['/inscription']"
      class="btn btn-primary m-t-20 btnRouge"
    ></Button>
  </StackLayout>
</FlexboxLayout>
