<ActionBar title="Raþiđ" class="action-bar" backgroundColor="#f8bd0a">
</ActionBar>
<ScrollView orientation="vertical">
  <FlexboxLayout class="page" height="130%">
    <StackLayout class="form">
      <Label text="Inscrivez-vous !" height="50" class="title"> </Label>

      <!-- <Image src="res://lapin" stretch="none"></Image> -->

      <PreviousNextView>
        <GridLayout rows="auto, auto, auto, auto, auto">
          <StackLayout row="0" class="input-field">
            <Label text="Nom" height="20" color="#000000"> </Label>
            <TextField
              [(ngModel)]="input.userName"
              class="input"
              hint=" Prénom"
              color="black"
              autocorrect="false"
              autocapitalizationType="none"
              returnKeyType="next"
            >
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
          </StackLayout>
          <StackLayout row="1" class="input-field">
            <Label text="Prénom" height="20" color="#000000"> </Label>
            <TextField
              [(ngModel)]="input.userLastName"
              class="input"
              hint=" Nom"
              color="black"
              autocorrect="false"
              autocapitalizationType="none"
              returnKeyType="next"
            >
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
          </StackLayout>

          <StackLayout row="2" class="input-field">
            <Label text="E-mail/Pseudo" height="20" color="#000000"> </Label>
            <TextField
              [(ngModel)]="input.userMail"
              class="input"
              hint=" Email"
              color="black"
              keyboardType="email"
              autocorrect="false"
              autocapitalizationType="none"
              returnKeyType="next"
            >
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
          </StackLayout>

          <StackLayout row="3" class="input-field">
            <Label text=" Mot de passe" height="20" color="#000000"> </Label>
            <TextField
              [(ngModel)]="input.userPass"
              #password
              class="input"
              color="#000000"
              hint=" Password"
              secure="true"
            ></TextField>
            <StackLayout class="hr-light"></StackLayout>
          </StackLayout>

          <StackLayout row="4" class="input-field">
            <Label text="Confirmer mdp" height="20" color="#000000"> </Label>

            <TextField
              #confirmPassword
              class="input"
              hint=" Confirm password"
              secure="true"
              returnKeyType="done"
              [(ngModel)]="input.userValidPass"
            ></TextField>
            <StackLayout class="hr-light"></StackLayout>
          </StackLayout>

          <ActivityIndicator rowSpan="4"> </ActivityIndicator>
        </GridLayout>
      </PreviousNextView>

      <!-- EN ATTENDANT JE MET UN ROUTERLINK POUR BOSSER LE DESIGN -->

      <Button
        text="S'inscrire"
        class="btn btn-primary m-t-20 btnConnexion"
        [nsRouterLink]="['/home']"
        (tap)="createProfile()"
      >
      </Button>

      <Label
        text="Forgot your password?"
        color="#000000"
        class="mdpOublie"
      ></Label>
    </StackLayout>
  </FlexboxLayout>
</ScrollView>
