.home-panel {
  vertical-align: center;
  font-size: 20;
  margin: 15;
}

.btnStartCourse {
  /* margin-top: 30%; */
  background-color: #ffffff;
  width: 200;
  height: 200;
  border-width: 12;
  border-radius: 150%;
  font-weight: bold;
  color: #9f153b;
  border-color: #9f153b;
  font-size: 20;
}

.btnEffacer {
  background-color: #ffffff;
  width: 30%;
  border-width: 5;
  border-radius: 100%;
  font-weight: bold;
  color: #9f153b;
  border-color: #9f153b;
  font-size: 10;
}

.chrono {
  margin-top: 1%;
  text-align: center;
  font-size: x-large;
}

.rondRouge {
  margin-top: 4%;
  border-width: 4;
  border-radius: 80%;
  border-color: #9f153b;
  margin-left: 8%;
}

.rondRougePetit {
  border-width: 4;
  border-radius: 80%;
  border-color: #9f153b;
  margin-right: 8%;
}

.rondRougeGrand {
  border-width: 4;
  border-radius: 80%;
  border-color: #9f153b;
  margin-left: 30%;
}
