<ActionBar title="" flat="true" backgroundColor="#f8bd0a">
  <Label horizontalAlignment="center" class="actionbar-title" text="Course">
  </Label>
</ActionBar>
<!-- <ScrollView> -->
<StackLayout>
  <StackLayout
    height="75"
    width="75"
    backgroundColor="#9f153b"
    class="rondRouge"
    horizontalAlignment="left"
  ></StackLayout>

  <StackLayout
    height="50"
    width="50"
    backgroundColor="#9f153b"
    class="rondRougePetit"
    horizontalAlignment="right"
  ></StackLayout>
  <Button
    text="Commencer la course"
    class="btn btn-primary m-t-20 btnStartCourse"
    *ngIf="_state.play"
    (tap)="play()"
  >
  </Button>

  <Button
    class="btn btn-primary m-t-20 btnStartCourse"
    *ngIf="_state.stop"
    text="Arrêter la course"
    (tap)="stop()"
  >
  </Button>

  <StackLayout
    height="75"
    width="75"
    backgroundColor="#9f153b"
    class="rondRougeGrand"
  ></StackLayout>
  <Button
    class="btn btn-primary m-t-20 btnEffacer"
    *ngIf="_state.backward"
    text="Effacer la course"
    (tap)="backward()"
  >
  </Button>

  <!-- </ScrollView> -->
  <!-- <ScrollView> -->
  <Label
    class="label label-primary chrono"
    color="black"
    text="Temps de course : {{ _timer.minutes }} minutes et {{
      _timer.secondes
    }} secondes"
  ></Label>
  <!-- <Label
    class="label label-primary chrono"
    text="{{ _timer.secondes }} secondes"
  ></Label> -->
  <!-- </ScrollView> -->
</StackLayout>
