<!-- <div class="header">
  <button mat-button>Above</button>

  <button mat-button>Below</button>

  <button mat-button>Before</button>

  <button mat-button>
    Connexion - Inscription
  </button>
</div> -->

<nav class="navbar nav-default navbar-static-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/profil" >
          Profil
        </a>
      </li>

      <li>
        <a routerLink="/search" >
          Tableau de bord
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/inscription" 
          ><span class="glyphicon glyphicon-user"></span> S'inscrire</a
        >
      </li>
      <!-- <li>
        <a routerLink="/login" 
          ><span class="glyphicon glyphicon-log-in"></span> Se déconnecter</a
        >
      </li> -->
      <li>
        <a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a
        >
      </li>
    </ul>
  </div>
</nav>
