/* -----------------Header---------------------- */
.navbar {
  background-image: url("../../assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
}

.logo {
  width: 10%;
  margin-top: 2%;
  /* padding: 6px; */
  /* background-color: #f8bd0a; */
  /* margin-bottom: 2%; */
  /* box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* .logoLapin {
  width: 10%;
} */

li {
  margin-top: 0.5%;
  font-size: large;
}

li :hover {
  background-color: rgb(140, 20, 20, 0.7);
  border-radius: 5%;
  text-shadow: 2px 2px 4px #9f153b;
}

/* .nav-default .navbar-nav > li > a {
  color: #ffffff;
} */

a {
  color: #9f153b;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
}
