<ActionBar title="Raþiđ" class="action-bar" backgroundColor="#f8bd0a">
</ActionBar>
<ScrollView orientation="vertical">
  <FlexboxLayout class="page">
    <StackLayout class="form">
      <Label text="Connectez-vous !" height="50" class="title"> </Label>

      <Image src="res://lapin" stretch="none"></Image>

      <PreviousNextView>
        <GridLayout rows="auto, auto, auto">
          <StackLayout row="0" class="input-field">
            <Label text="E-mail/Pseudo" height="50" color="#000000"> </Label>
            <TextField
              [(ngModel)]="userConnexion.email"
              class="input"
              hint=" Email"
              color="black"
              keyboardType="email"
              autocorrect="false"
              autocapitalizationType="none"
              returnKeyType="next"
            >
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
          </StackLayout>

          <StackLayout row="1" class="input-field">
            <Label text=" Mot de passe" height="50" color="#000000"> </Label>
            <TextField
              [(ngModel)]="userConnexion.password"
              #password
              class="input"
              color="#000000"
              hint=" Password"
              secure="true"
            ></TextField>
            <StackLayout class="hr-light"></StackLayout>
          </StackLayout>

          <!-- <StackLayout row="2" class="input-field">
          <Label text="Confirmer mdp" height="50" color="#000000"> </Label>

          <TextField
            #confirmPassword
            class="input"
            hint=" Confirm password"
            secure="true"
            returnKeyType="done"
          ></TextField>
          <StackLayout class="hr-light"></StackLayout>
        </StackLayout> -->

          <ActivityIndicator rowSpan="3"> </ActivityIndicator>
        </GridLayout>
      </PreviousNextView>

      <!-- EN ATTENDANT JE MET UN ROUTERLINK POUR BOSSER LE DESIGN -->

      <Button
        text="Se connecter"
        class="btn btn-primary m-t-20 btnConnexion"
        (tap)="submit()"
      >
      </Button>

      <Label
        text="Forgot your password?"
        color="#000000"
        class="mdpOublie"
      ></Label>
    </StackLayout>
  </FlexboxLayout>
</ScrollView>
