.home-panel {
  vertical-align: center;
  font-size: 20;
  margin: 15;
}

.logo {
  margin-bottom: 12;
  width: 80%;
  font-weight: bold;
}

.title {
  color: #000000;
  font-size: 30;
  text-align: center;
  margin-top: 6%;
  font-weight: bold;
}

.input {
  height: 50;
  border-width: 3;
  border-radius: 40px;
  border-color: #f8bd0a;
  /* color: "#000000"; */
}

.btn-primary {
  background-color: #ffffff;
  width: 50%;
  border-width: 6;
  border-radius: 60px;
  color: #9f153b;
  border-color: #9f153b;
}

.mdpOublie {
  text-align: center;
  margin: 2%;
  font-size: 12;
}

Image {
  /* margin-top: 40; */
  /* width: 200;
  height: 200; */
  width: 300;
  height: 300;
  margin-left: 15%;
  /* background-color: #9f153b; */
}

Label {
  margin-left: 20;
}
