<ActionBar title="" flat="true" backgroundColor="#f8bd0a" (tap)="toggleMenu()">
  <Label horizontalAlignment="center" class="actionbar-title" text="RAPID">
  </Label>
</ActionBar>

<GridLayout backgroundColor="#ffffff">
  <!-- main content -->
  <Image src="res://logomenu" stretch="none"></Image>

  <Button
    text="Course"
    height="130"
    width="130"
    class="btn btn-primary btnCourseHistorique btnGauche"
    verticalAlignment="center"
    horizontalAlignment="left"
    [nsRouterLink]="['/course']"
  >
  </Button>
  <Button
    height="130"
    width="130"
    text="Historique"
    class="btn btn-primary btnCourseHistorique btnDroite"
    verticalAlignment="center"
    horizontalAlignment="right"
    [nsRouterLink]="['/historique']"
  >
  </Button>
  <Button
    height="130"
    width="130"
    text="Profil"
    class="btn btn-primary btnProfilMap btnGauche"
    horizontalAlignment="left"
    [nsRouterLink]="['/profile']"
  >
  </Button>

  <Button
    text="Map"
    class="btn btn-primary btnProfilMap btnDroite"
    verticalAlignment="center"
    horizontalAlignment="right"
    [nsRouterLink]="['/map']"
    height="130"
    width="130"
  >
  </Button>

  <router-outlet></router-outlet>

  <!-- menu -->
  <GridLayout
    class="menuIndex"
    #menuContainer
    backgroundColor="#FFFFFF"
    rows="*, *, *, *, *"
  >
    <Label
      *ngFor="let item of menuItems; let i = index"
      [row]="i"
      [text]="item.name"
      class="menu-item"
      [color]="item.color"
      (tap)="navigateToPath(item.path)"
    ></Label>
  </GridLayout>
</GridLayout>
