.actionbar-title {
  color: #fff;
  font-size: 20;
  font-weight: normal;
}

.menu-item {
  color: #fff;
  font-size: 22;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  letter-spacing: 0.1;
  padding: 30;
}

.btn-primary {
  background-color: #ffffff;
  border-width: 4;
  border-radius: 80%;
  font-weight: bold;
}

.btnCourseHistorique {
  color: #f8bd0a;
  border-color: #9f153b;
  /* background-color: rgba(248, 189, 10, 0.5); */
  margin-top: 15%;
}

.btnProfilMap {
  color: #9f153b;
  border-color: #f8bd0a;
  /* background-color: rgba(159, 21, 59, 0.5); */
  margin-top: 70%;
  /* margin-right: 10%; */
}

.btnGauche {
  margin-left: 10%;
}

.btnDroite {
  margin-right: 10%;
}

Image {
  margin-top: 10%;
  /* width: 150;
  height: 150; */
  /* width: 150;
  height: 150; */
  /* width: 50%; */
  margin-left: 35%;
  /* background-color: #9f153b; */
}

.menuIndex {
  z-index: 7;
}
