div {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

td{
    text-align:  left;
    padding: 1px;
    color: #9f153b;
}

input{
    border: solid 3px #f8bd0a;
    border-radius: 10px;
    padding: 10px;
}