<div>
<h2>Inscription</h2>

<table>
<tr><td>Name:
    </td><td><input type="text" [formControl]="userName"></td></tr>

<tr><td>Last Name:
    </td><td><input type="text" [formControl]="userLastName"></td></tr>

<tr><td>Mail:
    </td><td><input type="email" [formControl]="userMail" ></td></tr>

<tr><td>Pass:
    </td><td><input type="password" [formControl]="userPass"></td></tr>

<tr><td>Valid Pass:
    </td><td><input type="password" [formControl]="userValidPass"></td></tr>
</table><br>

<button (click)="createProfile()">S'inscrire</button> <br>

<p> {{response}} </p>

</div>
