<footer>
  <div class="sectionFooter">
    <img src="../../assets/lapin.png" alt="fond" class="logo_footer" />
  </div>

  <div class="sectionFooterLast">
    <p>
      <a href=""> Nous contacter </a>
      <br />
      <a href=""> A propos </a> <br />
      <a href="">Politique de confidentialité</a>
      <br />
      <img
        src="https://img.icons8.com/ios-filled/24/000000/android-os.png"
        class="mobile"
      />
      <img
        src="https://img.icons8.com/ios-filled/24/000000/mac-os.png"
        class="mobile"
      />
    </p>
  </div>
  <div class="copyright">
    copyright © - Raþiđ
  </div>
</footer>
