footer {
  /* background-image: url("../../assets/footerGrand.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/footerGrand.png");
  min-height: 30vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: aqua; */
}

.copyright {
  background-color: rgba(159, 21, 59, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
}

.sectionFooter {
  width: 60%;
  display: inline-block;
  margin: 1%;
}

.sectionFooterLast {
  width: 30%;
  display: inline-block;
  margin-top: 4%;
  margin-left: 8%;
}
.logo_footer {
  width: 15%;
  margin-bottom: 2%;
  margin-left: 10%;
}

a:hover {
  text-shadow: 2px 2px 4px #9f153b;
  text-decoration: none;
}

a {
  color: #9f153b;
  font-size: medium;
}

.mobile {
  margin-top: 2%;
  margin-left: 8%;
}
