<ActionBar title="" flat="true" backgroundColor="#f8bd0a">
  <Label horizontalAlignment="center" class="actionbar-title" text="Map">
  </Label>
</ActionBar>
<GridLayout class="page" rows="auto,*">
  <StackLayout row="0">
    <Button></Button>
  </StackLayout>
  <ContentVieww row="1" height="100%" width="100%">
    <Mapbox
      accessToken="pk.eyJ1Ijoic3RhY3kxOTMwIiwiYSI6ImNrYWd1cXhlMDBhYXYyeW81MDlmYjQzNGgifQ.ddu8xCkbQRifmlZ_gU01eA"
      mapStyle="trafic_day"
      latitude="43.45491"
      longitude="5.46913"
      hideCompass="true"
      zoomLevel="15"
      showUserLocation="true"
      (mapReady)="onMapReady($event)"
    >
    </Mapbox>
  </ContentVieww>
</GridLayout>

<!-- geolocation.enableLocationRequest().then(() => {
  geolocation
      .getCurrentLocation({ desiredAccuracy: Accuracy.high })
      .then((location) => {
          alert(JSON.stringify(location));
      });
}); -->

<!-- map.getUserLocation().then(function (userLocation) {
  console.log(
      "Current user location: " +
          userLocation.location.lat +
          ", " +
          userLocation.location.lng
  );
  console.log("Current user speed: " + userLocation.speed);
}); -->
